.App {
  position: relative;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 65px;
}

/*App .navbar-brand {
  font-weight: bold;
}*/
.headerApp{
  width: 100%;
  background: white;
  color: white;
  text-align: left;
}

.footerApp{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #007bff;
  color: white;
  text-align: center;
}